{% extends 'base/_base.html' %}
{% block content %}
<style type="text/css">

  .addOrderLabel { color: #3385ff; font-size: 30px; margin: 0 10px;}
  .center { align-items: center; margin: 10px auto; }
  .pageSet { background-color: black; margin-top: 50px; padding-bottom: 24px; }
  .table { color: gray; }
  .textAlignCenter { margin-bottom: 10px; text-align: center; }
  #id_name, #id_category { min-width: 100%; }
  #form { color: gray; font-size: 20px; margin-top: 50px; }
  #submitBtn { margin: 20px; }

  @media only screen and (max-width: 769px) {
    .addOrderLabel { color: #3385ff; font-size: 30px; margin: 0 10px;}
    .pageSet { float:none; margin-left: 0; width: 100%; }
  }

@media only screen and (max-width: 1025px) {
  }

  @media only screen and (max-width: 480px) {
    .addOrderLabel { color: #3385ff; font-size: 30px; margin: 0 10px;}
    .pageSet { float:none; height: 100%; margin-left: 0; width: 100%; }
  }

  @media only screen and (max-height: 600px) and (orientation: landscape) {
    .addOrderLabel { color: #3385ff; font-size: 30px; margin: 0 20px;}
    .pageSet { background-color: black; float:none; margin-left: 0; min-height: 130vh; overflow: auto; width: 100%; }
    }

</style>

<div class="pageSet">
	<div class="addOrderLabel">
    	<h2>Add Order</h2>
  	</div>
    <form action="." method="POST" id="form" enctype="multipart/form-data">
        {% csrf_token %}
		<div class="col-xs-12 col-md-6 center">
			{{ order_form }}
			{{ item_form }}
		</div>
		<div class="textAlignCenter" id="submitBtn">
          	<input class="btn btn-primary" type="submit" value="Submit" id="submitBtn">
        </div>
    </form>
</div>
<script type="text/javascript">

	$(document).ready(function(){
    var date_input=$('input[name="order-transfer_date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    var options={
      format: 'm/d/yyyy',
      container: container,
      todayHighlight: true,
      autoclose: true,
    };
    date_input.datepicker(options);
  });

</script>
{% endblock %}